[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
firebot = {git = "https://github.com/pouncysilverkitten/karelia"}

[dev-packages]

[requires]
python_version = "3.6"
